[run]
branch = True
data_file = .coverage
relative_files = True
source=designer
omit =
    designer/settings*
    designer/conf*
    *wsgi.py
    *migrations*
    *admin.py
    *static*
    *templates*
